{%extends "base.html" %}

{% load i18n %}

{% block custom_head %}
<style type="text/css">
    .container {
        width: 600px;
    }
    #register-error {
        margin: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{% trans "Registration" %}</h3>
	</div>

        {% if form.non_field_errors %}
            <div id="register-error" class="well well-sm">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}

	{% if user_created %}
		<div class="panel-body">{% blocktrans %}User {{ username }} created{% endblocktrans %}<br><a href="/home">{% trans "Go to home" %}</a></div>
	{% else %}
		<div class="panel-body">
			<form method="post" class="form-horizontal" action="#">
				{% csrf_token %}
				
				{% for field in form %}
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        <label for="{{ field.id_for_label }}" class="control-label col-md-3">{{ field.label }}: </label>
                                        <div class="col-md-4">
                                            {{ field }}
                                        </div>
                                        <div class="col-md-5">
                                            {{ field.errors }}
                                        </div>
                                    </div>
				{% endfor %}

				<div class="form-group">
                                    <div class="col-md-offset-3 col-md-2">
                                        <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
                                    </div>
                                </div>
			</form>
		<div>
	{% endif %}
</div>
</div>
{% endblock %}
