{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block custom_head %}
<style type="text/css">
    .container {
        width: 500px;
    }
    #login-error {
        margin: 10px;
        background: rgba(255, 0, 0, 1);
    }
</style>

<link href="{% static "django_facebook/css/facebook.css" %}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block content %}

<div class="container">

<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
    <input type="hidden" value="{{ request.path }}" name="next" />
    <input type="hidden" value="{{ request.path }}" name="register_next" />
    <input type="hidden" value="{{ request.path }}" name="error_next" />
    {% csrf_token %}
    <input onclick="F.connect(this.parentNode); return false;" type="image" src="{% static "django_facebook/images/facebook_login.png" %}" />
</form>


<div id="login-panel" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Login</h3>
	</div>
	
        {% if form.non_field_errors %}
            <div id="login-error" class="well well-sm">
                {% for error in form.non_field_errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}

	<div class="panel-body">
		<form method="post" class="form-horizontal" action="#">
			{% csrf_token %}
			
			{% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label col-md-4">{{ field.label }}: </label>
                            <div class="col-md-5">
                                {{ field }}
                            </div>
                            <div class="col-md-3">
                                {{ field.errors }}
                            </div>
                        </div>
                        {% endfor %}
                        
			<div class="form-group">
                            <div class="col-md-offset-4 col-md-2">
                                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                            </div>
                        </div>
		</form>
		<hr>
		
		<div class="btn-group pull-right">
                    {% trans "Don't have an account?" %} <span><a class="btn btn-primary" href="/register">{% trans "Register" %}</a></span>
                </div>
	<div>
</div>
</div>
{% endblock %}