{% extends "base_home.html" %}

{% load i18n %}

{% block page_title %}AboutMe - {% trans "Friends" %}{% endblock %}

{% block content %}
<h1 class="section-header">{% trans "Friends" %}</h1>
    
{% for user in friends %}

    {% if forloop.counter0|divisibleby:4 %}
        <div class="row" style="margin-bottom: 25px">
    {% endif %}

    <div class="box box-lg col-md-3">
        <div class="user-pic" style="float: left;">
            <img src="xyz"/><br>
        </div>
        <div style="float: left; margin-left: 15px;">
            <a href="/feedbacks/{{ user.id }}"><b>{{ user.first_name }} {{ user.last_name }}</b></a><br>
            <a href="/feedbacks/{{ user.id }}/write">{% trans "Write feedback" %}</a>
        </div>
    </div>
    
    {% if forloop.counter|divisibleby:4 or friends|length == forloop.counter %}
        </div>
    {% endif %}

{% empty %}

    {% trans "You don't have any friends so far. Invite more friends!" %}
    
{% endfor %}

{% endblock %}
