{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block page_title %}AboutMe - Login{% endblock %}

{% block custom_head %}
<style type="text/css">
    .container {
        width: 500px;
    }
    #login-error {
        margin: 10px;
        background: rgba(255, 0, 0, 1);
    }
</style>

<link href="{% static "django_facebook/css/facebook.css" %}" type="text/css" rel="stylesheet" media="all" />
{% endblock %}

{% block content %}

<div class="container">

    {% include "django_facebook/_facebook_js.html" %}

    <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
        <input type="hidden" value="{{ request.path }}" name="next" />
        <input type="hidden" value="{{ request.path }}" name="register_next" />
        <input type="hidden" value="{{ request.path }}" name="error_next" />
        {% csrf_token %}
        <input onclick="F.connect(this.parentNode); return false;" type="image" src="{% static "django_facebook/images/facebook_login.png" %}" />
    </form>

</div>
{% endblock %}